body {
  background: #90c3c8;
  color: #1c191a;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-align: left;
}
.page {
  border: 2px solid #1c191a;
  border-radius: 20px;
  padding: 50px;
}
a:link {
  color: #1c191a;
  text-decoration: none;
}
a:visited {
  color: #1c191a;
  text-decoration: none;
}
.header {
}
.aboutme {
}
.camilla {
  display: flex;
  float: right;
  width: 200px;
  border: 1px #1c191a solid;
  border-radius: 50%;
}
h4 {
  text-align: center;
  font-style: italic;
}
.contact {
  display: flex;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #84bdc2;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 10px;
}
