body {
  background-color: #90c3c8;
  color: #1c191a;
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  color: #1c191a;
  text-decoration: none;
}
a:visited {
  color: #1c191a;
  text-decoration: none;
}
ul {
  font-size: 18px;
  font-weight: bold;
}
button {
  padding: 10px 15px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 30px;
  background-color: #84bdc2;
  box-shadow: 2px 2px 10px;
}
