body{
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background: #a2d2ff;
    color: white;
   

}
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}
#img{
    width:200px;
    border-radius: 50%;
    border: 5px solid #efb0c9;
}
#bday-age{
    background: #efb0c9;
    padding:5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
#bday-date {
    background: #efb0c9;
    padding:5px 10px;
    border-radius: 5px;
    margin:0;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.gift-section{
margin-top: 40px;
}
.gift-title{
    margin-bottom:10px;
}
.gift-hint{
    margin-top:10px;
}
.gift-img{
    margin:0 auto;
    background-image: url(images/gift-cover.jpg);
    background-size:cover;
    height: 400px;
    width: 400px;
    border: 5px solid white;
    border-radius: 10px;
}
#gift-img-happy:hover{
    background-image: url(images/happy.gif); 
}


#gift-img-hot:hover{
    background-image: url(images/hot.gif);
}
#gift-img-genius:hover{
    background-image: url(images/genius.gif);
}
#gift-img-badass:hover{
    background-image: url(images/badass.gif);
}
#gift-img-cheers{
    height:200px;
}
#gift-img-cheers:hover{
    background-image: url(images/cheers.gif);
    

}
.footer{
    font-style: italic;
    width: 400px;
    margin:40px auto 20px ;
}

a{
    color: white;
}


/* display flex indicates where the
items in the core should be placed.
row: in line from left to right
row-reverse: in line from right to left
this also reverses the order of the items.
Column: from top to bottom
column-reverse: from bottom to top, also reverses
order of items

when using column, remember that 
justify content controls up and down, 
while align items controls left and right

Justify content aligns items from left
to right. Also aligns items in relation
with each other. eg: space between moves the
items so that the space between them are
equal, while not adhering to margin. 
space around gives the items equal space
around items. Adheres to margins too.
 Space evenly evenly spaces the items on the 
 page.
align items aligns items from top
to bottom*/